@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
body{
     margin: 0;
     background-color: whitesmoke;
     font-family: 'Roboto', sans-serif;
}



.tabs_container{
    width: 80%;
    margin: auto;
    margin-top: 50px;
    .tabs_row{
        display: flex;
        button{
            padding: 10px 15px;
            font-size: 1.1em;
            border: 1px solid #555f80;
            border-radius: 4px 4px 0 0;
            cursor: pointer;
            font-weight: 300;
            margin: 0 1px;
            @media (max-width:362px) {
                font-size: 1rem;
            }
            @media (max-width:336px) {
                font-size: 1rem;
                padding: 10px 10px;
            }
            &.active{
                background-color: #555f80;
                color: white;
            }   

            &.unActive{
                background-color: white;
                color: #555f80;
            }

            &:hover{
                background-color: #555f80;
                color: white;
            }
        }
    }
    .tabs_row_bottom{
        border-top:2px solid #555f80;
        display: flex;
        margin-top: 20px;
        button{
            padding: 10px 15px;
            font-size: 1.1em;
            border: 1px solid #555f80;
            border-radius: 0px 0px 4px 4px;
            cursor: pointer;
            font-weight: 300;
            margin: 0 1px;
            @media (max-width:362px) {
                font-size: 1rem;
            }
            @media (max-width:336px) {
                font-size: 1rem;
                padding: 10px 10px;
            }
            &.active{
                background-color: #555f80;
                color: white;
            }   

            &.unActive{
                background-color: white;
                color: #555f80;
            }

            &:hover{
                background-color: #555f80;
                color: white;
            }
        }
        
    }
    .tabs_active{
        text-align: center;
        margin: 10px 0 0px 0;
        padding: 10px 0 10px 0;
        -webkit-transition: box-shadow 0.3s, border-top 0.3s;
        font-weight: normal;
        color: white;
        background-color: #555f80;
        font-size: 2rem;
        transform: translateY(-10px);
        @media (max-width:362px) {
            font-size: 1.5rem;
            padding: 10px 10px;
        }
    }
}





